@import '../../App.scss';

.word {
  margin-top: 24px;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    &-word {
      color: var(--main-text-color);
      font-family: var(--font-fam);
      font-size: 32px;
      font-weight: 700;
    }

    &-phonetic {
      color: #a445ed;
      font-feature-settings:
        'clig' off,
        'liga' off;

      font-family: var(--font-fam);
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }
  }

  &__divider {
    height: 1px;
    flex: 1;
    background-color: #e9e9e9;
    margin: 24px 0;
  }

  &__source {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #757575;
    font-feature-settings:
      'clig' off,
      'liga' off;
    font-family: var(--font-fam);
    font-size: 14px;
    font-weight: 400;
    text-decoration-line: underline;

    a {
      color: var(--main-text-color);
      cursor: pointer;
    }
  }
}
