@import '../../App.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;

  &__actions {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__divider {
    width: 1px;
    height: 32px;
    background-color: #E9E9E9;
  }
}