body[data-theme='light'] {
  --main-text-color: #2d2d2d;
  --background-color: #fff;
  --input-bg-color: #f4f4f4;
  --shadow-color: 0px 5px 30px 0px rgba(0, 0, 0, 0.10);
}

body[data-theme='dark'] {
  --main-text-color: #fff;
  --background-color: #050505;
  --input-bg-color: #1f1f1f;
  --shadow-color: 0px 5px 30px 0px #A445ED;
}

body[data-font="sans-serif"] {
  --font-fam: 'Inter', sans-serif;
}

body[data-font="serif"] {
  --font-fam: 'Lora', serif;
}

body[data-font="mono"] {
  --font-fam: 'Inconsolata', monospace;
}

body {
  background-color: var(--background-color);
}
